<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console_root" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p %m%n" />
		</Console>

		<Console name="console_com" target="SYSTEM_OUT">
			<PatternLayout
				attern="%d{dd HH:mm} %5p [%c{-3}] %M-%L %m%n" />
		</Console>

		<!-- -->
		<File name="MyFile" fileName="d:/logs/app.html">
			<HTMLlayout datapattern="ISO8601" timezone="GMT+9" />
		</File>

		<!--log파일 만들어짐 <File name="MyFile" fileName="d:/logs/app.log"> 해당 경로에 log 
			파일이생김 <PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 
			</File> -->

	</Appenders>


	<Loggers>
		<Logger name="java.sql" level="debug" additivity="false">
			<AppenderRef ref="console_com" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<AppenderRef ref="console_com" />
		</Logger>
		<Logger name="egovframework" level="INFO" additivity="false">
			<AppenderRef ref="console_com" />
		</Logger>
		<Logger name="com.yedam" level="debug" additivity="false">
			<AppenderRef ref="console_com" />
		</Logger>
		<Logger name="org.springframework" level="debug" additivity="false">
			<AppenderRef ref="console_com" />
		</Logger>
		<Root level="error">			<!-- 개발시에는 debug로 해놔야 자세히 나옴 -->
			<AppenderRef ref="console_com" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>